[Desktop Entry]
Name=Cplayer
Type=Application
Exec=cplayer
Terminal=false
Icon=cplayer
Comment=Light weight music player written in C.
Comment[zh_TW]=有錢也買不到的超棒 轻量级音乐播放器。
Comment[zh]=轻量级音乐播放器。
NoDisplay=false
Categories=Utility;
